root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{bat,cmd,ps1,sln,slnx}]
end_of_line = crlf

[*.cs]
indent_size = 4

[*.{cpp,cxx,cc,c,h,hpp,hh,ixx,cppm}]
indent_size = 4

[CMakeLists.txt]
indent_size = 4

[*.cmake]
indent_size = 4

[*.proto]
indent_size = 4

[*.json]
indent_size = 2

[*.yml]
indent_size = 2

[*.yaml]
indent_size = 2
